html,
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family:sans-serif;
  font-weight: 200;
  font-size: small;
  /* color: white; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.bar{
  overflow-x: scroll;
  height: 100%;
  scrollbar-color: hsla(0,0%,100%,.3) transparent;
}

.main{
  overflow-x: scroll;
}

.bar-:hover:hover{
  color: white;
}

.icons{
  fill: white;
}

.line-break{
  border-bottom: 1px solid white;
}

/* .mediaplayer{
  position: fixed;
} */

.Headers{
  font-size: 20px;
  font-weight: 500;
}

.button{
  height: 50px;
  width: 105px;
  border-radius: 30px;
  border: none;
}

.font{
  font-size: 15px;
}